* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, serif, sans-serif;
}



header {
  background-color: #5E7CE2;
  border: 1px solid black;
  text-align: center;
  text-justify: center;
  font-size: 1.2em;
  height: 100px;
  padding: 1.5rem;
  
}

main {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 60%;
}

label {
  margin-top: 2rem;
  width: 100%;
  display: flex;
}

.logInBtn {
  width: 100%;
  padding: 1.5rem 2rem;
  font-size: 1.1rem;
  color: #ffffff;
  cursor: pointer;
  background: #252c6a;
}

.errorMsg {
  color: red;
  margin-top: 1rem;
  margin-bottom: 1rem;
}



.welPage {
  display: none;
  width: 100%;
  justify-content: center;
}

.signOutBtn {
  width: 100%;
  padding: 1.5rem 2rem;
  font-size: 1.1rem;
  color: #ffffff;
  cursor: pointer;
  background: #a0070f;
}

.signOutPage {
  display: none;
}

/*
 * Set colors and size.
 */
 footer {
  background-color: #0A369D;
  color: #FFF;
  border-top: 1px solid black;
  flex-direction: row;
  text-align: center;
  text-justify: center;
  font-size: 1.2em;
  height: 100px;
  padding: 1.5rem;
  width: 100%;
  min-height: 5em;   
}
