* {
  font-family: Georgia, serif, sans-serif;
}


header {
  background-color: #5E7CE2;
  border: 1px solid black;
  text-align: center;
  text-justify: center;
  font-size: 1.2em;
  height: 100px;
  padding: 1.5rem;
  
}

main {
  justify-content: center;
  align-items: center;
  height: 60vh;
  display: flex;
  
}

input {
  width: 70%;
}

label {
  margin-top: 1.5rem;
  display: flex;
  width: 100%;
}

.logInBtn {
  color: #d4d898;
  padding: 1.5rem 1.5rem;
  font-size: 1.5rem;
  background: #252c6a;
}

.errorMsg {
  color: red;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}



.welPage {
  width: 100%;
  display: none;
  justify-content: center;
}

.signOutBtn {
  color: #ffffff;
  background: #a0070f;
  padding: 1.5rem 2rem;
  font-size: 1.1rem;
}

/*
 * Set colors and size.
 */
 footer {
  background-color: #0A369D;
  color: #FFF;
  border-top: 1px solid black;
  flex-direction: row;
  text-align: center;
  text-justify: center;
  font-size: 1.2em;
  height: 100px;
  padding: 1.5rem;
  width: 100%;
  min-height: 5em;   
}
